@font-face {
  font-family: Shrikhand;
  src: url(police/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(police/Roboto/Roboto-Regular.ttf);
}
.rbt {
  font-family: Roboto;
}

.shk {
  font-family: Shrikhand;
}

strong {
  font-weight: bolder;
}

header {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header img {
  width: 50vw;
  height: auto;
}

footer {
  background-color: #353535;
  color: #ffffff;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #eaeaea;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.position p {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
}

.position i {
  padding-right: 15px;
}

.depart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.depart h1 {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 900;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.depart p {
  padding-left: 50px;
  padding-right: 50px;
  color: grey;
  padding-top: 0px;
}

.depart a {
  text-decoration: none;
}

.depart__btn {
  display: block;
  border-radius: 25px;
  padding: 15px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin-bottom: 50px;
}

.guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100vw;
}

.guide h2 {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: 25px;
  font-family: Shrikhand;
}

.guide__btn {
  background-color: #f6f6f6;
  font-family: Roboto;
  border-radius: 12px;
  width: 75%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-style: none;
  -webkit-box-shadow: 0px 3px 5px 5px #eaeaea;
  box-shadow: 0px 3px 5px 5px #eaeaea;
  position: relative;
  z-index: 0;
}

.guide__btn div {
  position: absolute;
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 1;
  left: -6px;
  top: 10px;
  color: white;
  background-color: #9356DC;
  border-style: none;
  text-align: center;
}

.restos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
