
i.btn {
    font-weight:400;
}


i.btn:hover {
    animation-name: heart;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    background-image: linear-gradient(to top right, lighten($colpri, 30%), $colpri);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}