@keyframes heart {
    from {font-weight: 400;}
    to {font-weight: 900;}
}

i.btn {
    font-weight:400;
}

i.btn:active {
    color: $colpri;
}

i.btn:hover {
    color: $colpri;
    animation-name: heart;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}