@font-face {
    font-family: Shrikhand;
    src:url(police/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src:url(police/Roboto/Roboto-Regular.ttf)
}

.rbt {
    font-family: Roboto;
}

.shk {
    font-family: Shrikhand;
}

strong {
    font-weight: bolder;
}