body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    padding: 0px;
    margin: 0px;
}


.cover {
    display: flex;
    background-color: $colter;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    animation: disappear 2s linear 1;
    margin: 0;
    padding: 0;
}

.appear {
    animation: appear 4s linear 1;    
}

.loader {
    border-top-color: $colpri;
    border-bottom-color: $colpri;
    border-left-color: $colsec;
    border-right-color: $colsec;
    border-radius: 50%;
    animation: spin 2s linear 1, spinkill 2s linear 1; 
}

.position {
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    p {
        align-self: center;
        text-align: center;
        font-family: Roboto;
        font-weight: 500;
    }
    i {
        padding-right: 15px;
    }
}

.depart {
    display: flex;
    background-color: #f6f6f6;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    h1 {
        padding-left: 50px;
        padding-right: 50px;
        font-weight: 900;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    p {
        padding-left: 50px;
        padding-right: 50px;
        color: grey;
        padding-top: 0px;
    }
    a {
        text-decoration: none;
    }
    &__btn {
        display: block;
        border-radius: 25px;
        padding: 15px;
        color: white;
        background-image:linear-gradient(to bottom right, $colsec, $colpri);
        margin-bottom: 50px;
        @include shadow;
        &:hover {
            @include hovershadow;
        }
    }
}

.guide {
    display: flex;
    background-color: $colbg;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
    h2{
        align-self: flex-start;
        margin-left: 25px;
        font-family: Shrikhand;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-wrap: nowrap;
        background-color: $colbg2;
        font-family: Roboto;
        border-radius: $rad;
        width: 90%;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-style: none;
        @include shadow;
        position: relative;
        z-index: 0;
        &:hover {
            @include hovershadow;
            @include hoverbg($colbg2);
        }
        i {
            padding-right: 15px;
        }
        div {
            position: absolute;
            border-radius: 50%;
            padding-left: 7px;
            padding-right: 8px;
            padding-top: 3px;
            padding-bottom: 3px;
            z-index: 1;
            left: -6px;
            top: 10px;
            color: white;
            background-color: $colpri;
            border-style: none;
            text-align: center;
        }
    }
}

.resto {
    display: flex;
    background-color: #f6f6f6;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    h2 {
        margin-left: 10px;
        align-self: flex-start;
    }
    a {
        width: 100vw;
        display: block;
        text-decoration: none;
        color: black;
        font-family: "Roboto"
    }
    &__carte {
        display: flex;
        flex-direction: column;
        height: 300px;
        overflow: hidden;
        background-color: $colbg;
        border-radius: $rad;
        margin: 10px;
        position: relative;
        @include shadow;
        &:hover {
            @include hovershadow;
            @include hoverbg($colbg);
        }
        .label {
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            color: darken($colter, 40%);
            background-color: $colter;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            font-family: Roboto;
            border-radius: 2px;
            font-weight: 900;
            font-size: 0.8REM;
            
        }
        img {
            object-fit: cover; 
            height: 220px;
            width: 100%;
        }
        &__text {
            margin-left: 15px;
            font-size: 1.1REM;
        }
        figcaption {
            display: flex;
            flex-direction: row;
            position: relative;
            p:nth-child(2) {
                line-height: 0px;
            }
            div {
                align-self: flex-start;
            }
            i {
                position: absolute;
                right: 40px;
                top: 30px;
            }
    }
}

}