body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    @media screen and (min-width: 1281px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .photo {
            width: 70%;
            margin: 0px;
            &__figure {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: $colbg2;
                flex-direction: column-reverse;
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-top-right-radius: 3 * $rad;
                    border-bottom-right-radius: 3 * $rad;
                }
                figcaption {
                    position: static;
                    width: 100%;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    i {
                        bottom: initial;
                        top: 30px;
                    }
                }
            }
        }
        .menu {
            width: 30%;
            margin: 0px;
        }
        .command {
            width: 100%;
        }

        
    }
}
.photo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
    &__figure {
        width:100vw;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;    
        img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
            padding: 0;
            margin: 0;
            z-index: 0;
        }
        figcaption {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            background-color: $colbg2;
            position:absolute;
            width: 100vw;
            bottom: 0px;
            padding: 0px;
            margin: 0px;
            border-top-left-radius: 3 * $rad;
            border-top-right-radius: 3 * $rad;
            h1 {
                margin-left: 25px;
            }
            i {
                position: absolute;
                right: 40px;
                bottom: 30px;
            }
        }
    }
}
.menu {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background-color: $colbg2;
   .course {
       margin-left: 15px;
   }
   * {
    @for $i from 1 through 12 {
        $duration: $i * 0.2s;
        &:nth-child(#{$i}) {
            animation: appear $duration linear 1;
        }
    }
   }
    .food {
        background-color: $colbg;
        overflow: hidden;
        display: flex;
        margin: 15px;
        padding: 0px;
        border-style: none;
        border-radius: $rad;
        @include shadow;
        &__text{
            display:grid;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background-color: $colbg;
            grid-template-columns: 87% 13%; 
            grid-template-rows: 50% 50%;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            border-top-left-radius: $rad;
            border-bottom-left-radius: $rad;
            border-top-right-radius: $rad;
            border-bottom-right-radius: $rad;
            font-family:'Roboto';
            height: 100%;
            width:100%;
            flex: none;
            transition-property: width;
            transition-duration: 0.51s;
            transition-timing-function: linear;
            p:nth-child(1) {
                font-weight: 900;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
                text-align: left;
                margin-left: $mrg;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            p:nth-child(2) { 
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2; 
                text-align: left;
                margin-left: $mrg;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            p:nth-child(3) {
                grid-column-start: 2;
                grid-row-start: 2;
                text-align: right;
                margin-right: $mrg;
            }
        }
        &__check {
            display: grid;
           overflow: hidden;
           background-color: $colter;
           grid-column-start: 2;
           grid-column-end: 3;
           grid-row-start: 1;
           grid-row-end: 2;
           color: white;
           border-top-right-radius: $rad;
           border-bottom-right-radius: $rad;
           grid-template-columns: 33% 33% 33%;
           grid-template-rows: 33% 33% 33%;
           height: 100%;
           width: 20%;
           i {
               grid-column-start: 2;
               grid-row-start: 2;
               justify-self: center;
               align-self: center;
           }
        }
        &:hover {
            grid-template-columns: 80% 20%;
            @include hovershadow;
            @include hoverbg($colbg);
            .food__text {
                @include hoverbg($colbg);
                width: 80%;
            }
            i {
                animation: spin 1s linear 1;
            }
        }
    }
    @media screen and (min-width: 721px) and (max-width: 1280px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .course {
            width: 100%;
            text-align: center;
        }
        .food {
            width: 45%;
        }
    }
}

.command {
    display: flex;
    justify-content: center;
    background-color: $colbg2;
    padding-top: 40px;
    padding-bottom: 20px;
    &__btn {
        display: block;
        border-radius: 25px;
        padding: 15px;
        color: white;
        background-image:linear-gradient(to bottom right, $colsec, $colpri);
        margin-bottom: 50px;
        width: 40vw;
        font-family: 'Roboto';
        @include shadow;
    }
    &__btn:hover {
        @include hovershadow;
        background-image:linear-gradient(to bottom right, darken($colsec, 10%), darken($colpri, 10%));
    }
}