
@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

@keyframes spinkill {
    0% {height: 120px; width: 120px;border-width: 16px; border-style: solid;}
    100% {height: 0px; width: 0px; border-width: 0px; border-style: none;}
}

@keyframes disappear {
    from {width: 100vw;height:100vh;}
    to {width:0vw;height:100vh}
}

@keyframes appear {
    from {opacity: 0%;}
    50%  {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes heart {
    from {font-weight: 400; opacity: 0%;}
    to {font-weight: 900; opacity: 100%;}
}